nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.intro{
    background-position: center;
    background-size: cover;
    padding: 10%;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    align-items: center;
}



.intro-top{
    position: relative;
    z-index: 2;
}

.but-flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.tiles, .review-body{
    display: flex;
    flex-direction: row;
}

.contact-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-items: center;
}

.contact-text{
    grid-column: 1/3;
}

.review-body__item{
    position: relative;
}

.user{
    position: relative;
    left: -50px;
}

.contact-body *{
    width: 100%;
}

.contact-body input[type="submit"], .btn{
    background-color: var(--light-blue);
    border: 5px solid var(--light-blue);
    border-radius: 5%;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.foot{
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.img-desk{
    display: inline-block;
}