nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro{
    background-position: center;
    background-size: cover;
    padding: 10%;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    align-items: center;
}



.intro-top{
    position: relative;
    z-index: 2;
}

.tiles, .review-body, .contact-body{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    justify-items: center;
}

.user{
    display: none;
}

.contact-body *{
    width: 100%;
}

.contact-body input[type="submit"], .btn{
    background-color: var(--light-blue);
    border: 5px solid var(--light-blue);
    border-radius: 5%;
}

.but-flex{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.button-corner{
    align-self: center;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.foot{
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
}