* {
  box-sizing: border-box;
  margin: 0px;
}
:root {
  --dark-bg: #252b42;
  --light-text: #ffffff;
  --text: #252b42;
  --second-text: #737373;
  --light-blue: #23a6f0;
  --pink: #c14dde;
}

body {
  background-color: var(--dark-bg);
  color: var(--light-text);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}

.fsize-big{
    font-size: 40px;
}

.fsize-md{
    font-size: 20px;
}

a{
    text-decoration: none;
    color: white;
}

.pad-colum *{
    padding: 10px 0px;
}

#burger{
    display: none;
}

.intro{
    background-image: url(/Images/header-family.jpg);
}

.button-corner{
    width: 40%;
    background-color: var(--light-blue);
    border-radius: 70%;
    margin: 10px 0px;
}

a.button-corner__text{
    margin:30px;
}

.button-corner--shaded{
    background-color: transparent;
    border: var(--light-blue) 5px solid;
    columns: var(--light-blue);
}

.tiles-item{
    text-align: center;
    margin: 50px;
    width: 60%;
}

.tiles-item img{
    margin-bottom: 10px;
}

.tiles-item p{
    margin-top: 10px;
}

.review-bg{
    background-color: var(--light-blue);
}

.review-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}

.review-header__item{
    text-align: center;
    padding: 0% 20%;
}


.review-body__item{
    background-color: var(--light-text);
    width: 80%;
    padding: 20px;
    margin: 20px auto;
}

.review-body__dark, .contact__text{
    color: var(--text);
}

.review-body__light{
    color: var(--second-text);
}

.contact{
    padding: 10%;
    background: linear-gradient(to right, #ffffff, #fafafa00);
    background-image: url(/Images/contact-cove.png);
}

.contact-body input[type="submit"], .btn{
    background-color: var(--light-blue);
    border: 5px solid var(--light-blue);
    border-radius: 5%;
}

.btn{
    text-align: center;
    width: 150px;
    padding: 15px 15px;
    margin-top: 15px;
}

.about{
    padding: 15%;
    color: var(--text);
    background-color: var(--light-text);
}

.end{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button-corner:hover, .for-hover:hover, .btn:hover{
    background-color: var(--pink);
}